.selectedUser {
  display: flex;
  justify-content: space-around;
  background: #0a1e30;
  padding: 20px;
  align-items: center;
  box-shadow: 5px 5px 5px #0073c5;
}

.line {
  width: 2px;
  color: white;
  height: 21px;
  background: white;
}
