.Profile {
  position: relative;
  display: grid;
  grid-template-columns: 20rem auto 20rem;
  gap: 1rem;
}

.Profile-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.oldProfileLeft {
  display: none;
}

@media screen and (max-width: 1100px) {
  .Profile {
    grid-template-columns: auto;
  }
  .newProfileLeft {
    display: none;
  }
  .oldProfileLeft {
    display: block;
  }
}
